/*alla*/
:not(tr, td, th){
    margin: 0;
    background-color: rgb(221, 60, 60);
}

.corners{
    border-radius: 10px;
    /*OBS bottom-radius on header*/
    /*articles i menyn*/
}

.margin{
    margin: 20px auto 0px;
}

.header{
    grid-area: hd;
    background: rgb(255, 71, 71);
    display:grid;
    grid-template-columns: 1fr 95px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "lg tm"
    "lg mu";
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo{
    padding-top: 0.313rem;
    height: 100%;
    background: none;
}

.loggalänk{
    grid-area: lg;
    background: none;
}

.team{
    grid-area: tm;
    background: rgb(255, 95, 95);
    height: 75px;
    width: 75px;
    margin: auto 10px auto 10px;
}

.menu{
    grid-area: mu;
    background: rgb(255, 95, 95);
    height: 75px;
    width: 75px;
    margin: auto 10px auto 10px;
    color: white;
    font-size: 1.875rem;
}

.navtext{
    background: none;
    color: white;
    font-size: 1.563rem;
    text-align: center;
}

.teampadding{
    padding-top: 0.438rem;
}

.menupadding{
    padding-top: 1.063rem;
}


.underlineremove{
    text-decoration: none;
}

th, td {
    padding: 0.5rem;
    border: 1px solid black;
    text-align: center;
}

th{
    background-color: rgb(151, 151, 151)
}

tr:nth-child(even){
    /*background-color: rgb(206, 59, 59);*/
    background-color: lightgray;
}

tr:nth-child(odd){
    /*background: rgb(255, 71, 71);*/
    background-color: rgb(226, 226, 226);
}

.title{
    grid-area: tt;
    background: rgb(255, 95, 95);
    color: white;
    margin: 20px auto 0px;
    border: 0.0625rem solid black;
}

.titletext{
    padding: 0.75rem;
    background: none;
}

b{
    background: none
}

.sponsors{
    grid-area: spn;
    width: 90%;
    margin: 20px auto 20px auto;
}












/*sidomeny
meny*/
.sidemenu{
    position: fixed;
    top: 25px;
    right: -70vw;
    width: 60vw;
    height: 300px;
    background: rgb(255, 71, 71);
    transition: right 0.2s;
    z-index: 10;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sidearticlemenu{
    width: 40%;
    height: 15%;
    background: white;
    color: black;
    border: 0.0625rem solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadelayermenu{
    position: fixed;
    height: 200vh;      /*extra hög för att det ska se bra ut även när man scrollar snabbt*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 5;
}

.fadelayermenu.visible{
    display: block;
}

.showmenu{
    right: 0;
}

/*lag*/
.sideteam{
    position: fixed;
    top: 25px;
    right: -70vw;
    width: 60vw;
    height: 100px;
    background: rgb(255, 71, 71);
    transition: right 0.2s;
    z-index: 10;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sidearticleteam{
    width: 80%;
    height: 40%;
    background: white;
    color: black;
    border: 0.0625rem solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadelayerteam{
    position: fixed;
    height: 200vh;      /*extra hög för att det ska se bra ut även när man scrollar snabbt*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 5;
}

.fadelayerteam.visible{
    display: block;
}

.showteam{
    right: 0;
}














/*huvudsida*/
#maincontainer{
    display:grid;
    min-height: 100vh;
    grid-template-rows: 200px auto 200px 200px 200px 200px;
    grid-template-areas:
    "hd"
    "img"
    "sdl"
    "tbl"
    "nws"
    "spn";
}

.teampicturelink{
    grid-area: img;
}

.teampicture{
    margin-left: 20px;
    width: 90%;
}

.schedule{
    grid-area: sdl;
}

.upcomming{
    background: lightgray;
    width: 90%;
    height: 90%;
}

.tablelink{
    grid-area: tbl;
}

.shorttable{
    width: 90%;
    height: 90%;
    color: black;
}

.shortfirstrow{
    width: 65%;
    text-align: left;
}

.news{
    grid-area: nws;
    background: rgb(255, 95, 95);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.0625rem solid black;
}

.article{
    height: 20%;
    width: 90%;
    background: white;
    color: black;
    border-radius: 0.313rem;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid black;
}

.newstitle{
    background: none;
    color: white;
    font-size: 1.563rem;
}






















/*tabell*/
#tabellcontainer{
    display:grid;
    min-height: 100vh;
    grid-template-rows: 200px 75px auto 200px;
    grid-template-areas:
    "hd"
    "tt"
    "tb"
    "spn";
}

.tablesection{
    grid-area: tb;
    width: 100%;
    margin: 0px auto;
    color: black;
}

.firstrow{
    width: auto;
    text-align: left; 
}

.rest{
    width: 10%;
}

.mibftable{
    background: rgb(255, 71, 71);
    color: white;
}



















/*trupp*/

#truppcontainer{
    display:grid;
    min-height: 100vh;
    grid-template-rows: 200px 170px auto 170px 200px;
    grid-template-areas:
    "hd"
    "mv"
    "us"
    "le"
    "spn";
}

.squadtitle{
    color: white;
    background: none;
    padding: 0.188rem 0rem 0rem 0.313rem;
}

.squadarticle{
    height: 45px;
    width: 90%;
    background: white;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    background: none;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.number{
    background: none;
    font-size: 1.875rem;
    padding-right: 0.5rem;
}

.keeper{
    grid-area: mv;
    width: 90%;
    background-color: rgb(255, 95, 95);
    border: 0.0625rem solid black;
}

.player{
    grid-area: us;
    width: 90%;
    background-color: rgb(255, 95, 95);
    border: 0.0625rem solid black;
}

.coach{
    grid-area: le;
    width: 90%;
    background-color: rgb(255, 95, 95);
    border: 0.0625rem solid black;
}

.role{
    background: none;
    font-size: 0.938rem;
    padding-right: 0.5rem;
}

















/*nyhet*/
#newscontainer{
    display:grid;
    min-height: 100vh;
    grid-template-rows: 200px 75px auto 200px;
    grid-template-areas:
    "hd"
    "tt"
    "at"
    "spn";
}

.articletext{
    grid-area: at;
    width: 87%;
    background: white;
    color: black;
    border: 0.0625rem solid black;
    padding: 0.438rem;
}












/*CSS minify
github


frågor
vad ska vara rem och px marging?        border, border-radius, padding, margin, font, divstorlekt, containerbegrännslingar
truppbild, margin auto funkar ej. spelar de nån roll?
behöver bilder ha högre upplösning
Vilken javascrip sak var A-betyg
behöver jag göra en sida för flera nyheter?
kommande och tidigare: hur ska jag göra med fliken som sticker upp (overkill)
hur scrallar man på nuheter