:not(tr, td, th){
    margin: 0;
    background-color: rgb(221, 60, 60);
}

.corners{
    border-radius: 10px;
    /*OBS bottom-radius on header*/
    /*articles i menyn*/
}

.margin{
    margin: 20px auto 0px auto;
}


.header{
    grid-area: hd;
    background: rgb(255, 71, 71);
    display:grid;
    height: 200px;
    grid-template-columns: 1fr 95px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "lg tm"
    "lg mu";
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo{
    padding-top: 0.313rem;
    height: 100%;
    background: none;
}

.loggalänk{
    grid-area: lg;
    background: none;
}

.team{
    grid-area: tm;
    background: rgb(255, 95, 95);
    height: 75px;
    width: 75px;
    margin: auto 10px auto 10px;
}

.menu{
    grid-area: mu;
    background: rgb(255, 95, 95);
    height: 75px;
    width: 75px;
    margin: auto 10px auto 10px;
    color: white;
    font-size: 1.875rem;
}

.navtext{
    background: none;
    color: white;
    font-size: 1.563rem;
    text-align: center;
}

.teampadding{
    padding-top: 0.438rem;
}

.menupadding{
    padding-top: 1.063rem;
}


.underlineremove{
    text-decoration: none;
}

th, td {
    padding: 0.5rem;
    border: 1px solid black;
    text-align: center;
}

th{
    background-color: rgb(151, 151, 151)
}

tr:nth-child(even){
    /*background-color: rgb(206, 59, 59);*/
    background-color: lightgray;
}

tr:nth-child(odd){
    /*background: rgb(255, 71, 71);*/
    background-color: rgb(226, 226, 226);
}

.sponsors{
    grid-area: spn;
    width: 90%;
    margin: 20px auto 20px auto;
}







/*huvudsida*/
.maincontainer{
    display:grid;
    min-height: 100vh;
    grid-template-rows: 200px auto 200px 200px 200px 200px;
    grid-template-areas:
    "hd"
    "img"
    "sdl"
    "tbl"
    "nws"
    "spn";
}

.teampicture{
    grid-area: img;
    width: 90%;
}

.schedule{
    grid-area: sdl;
}

.upcomming{
    background: lightgray;
    width: 90%;
    height: 90%;
}

.shorttable{
    grid-area: tbl;
    width: 90%;
    height: 90%;
    color: black;
}

.shortfirstrow{
    width: 65%;
    text-align: left;
}

.news{
    grid-area: nws;
    background: rgb(255, 71, 71);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.0625rem solid black;
}

.article{
    width: 90%;
    background: white;
    color: black;
    border-radius: 0.313rem;
    font-size: 1.125rem;
    padding: 0.625rem;
    text-align: center;
}

.newstitle{
    background: none;
    color: white;
    font-size: 1.563rem;
}








/*tabell*/
.tabellcontainer{
    display:grid;
    min-height: 100vh;
    grid-template-rows: 200px auto 200px;
    grid-template-areas:
    "hd"
    "tb"
    "spn";
}

.tablesection{
    grid-area: tb;
    width: 100%;
    margin: 20px auto 25px auto;
    color: black;
}

.firstrow{
    width: auto;
    text-align: left; 
}

.rest{
    width: 10%;
}

.mibftable{
    background-color: rgb(255, 95, 95);
    color: white;
}




























/*frågor
